<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
		<title>API Data</title>
    </head>
<body>
    <div class="parent">
        <div>
            <img src="/static/traefik_logo.png" alt="traefik_logo" style="width:95%;">
        </div>
        <div>
            <img src="/static/apidays_logo.png" alt="apidays_logo">
        </div>
    </div>
    <div>
        <h2>Here's the data results:</h2><br>
    </div>
    <br>
    <div>
        {{ . }}
    </div>
    <br>
    <div>
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
    </div>
</body>
</html>